<div class="container">
    <div class="row">
        <h2>{{ section_title }}</h2>
        <div class="col-md-6 chart">
            <div id="left-{{ app_label }}-canvas" class="mti-chart" data-app='{{ app_label }}'
                 data-vendor='mysql' class='with-3d-shadow with-transitions'>
                <h3>Mysql 5.5.34</h3>
                <svg></svg>
            </div>
        </div>
        <div class="col-md-6 chart">
            <div id="right-{{ app_label }}-canvas" class="mti-chart" data-app='{{ app_label }}'
                 data-vendor='postgresql' class='with-3d-shadow with-transitions'>
                <h3>PostgreSQL 9.3.1</h3>
                <svg></svg>
            </div>
        </div>
    </div>
</div>
