{% extends "base.html" %}

{% block head %}
<link href="static/css/nv.d3.min.css" rel="stylesheet" type="text/css">
<style>
body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}
svg {
  display: block;
}

#canvas svg {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
}


</style>
{% endblock %}

{% block content %}
  <div id="canvas" class='with-3d-shadow with-transitions'>
    <svg style="height: 500px;"></svg>
  </div>

<script src="/static/js/d3.v3.js"></script>
<script src="/static/js/nv.d3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src='https://cdn.firebase.com/v0/firebase.js'></script>

<script>
var dataRef = new Firebase('https://mti-lightbulb.firebaseio.com/results');
dataRef.on('value', function(snapshot) {
    var rawData = [];
    $.each(snapshot.val(), function(testName, resultWrapper) {
        var values = [];
        $.each(resultWrapper, function(fbId, result) {
            values.push({x: result.num_models, y: result.{{ metric }}});
        });
        rawData.push({
            key: testName,
            values: values,
        });
    });
    nv.addGraph(function() {
      var chart = nv.models.lineWithFocusChart();

      chart.xAxis
          .tickFormat(d3.format(',f'));
      chart.x2Axis
          .tickFormat(d3.format(',f'));

      chart.yAxis
          .tickFormat(d3.format(',.2f'));
      chart.y2Axis
          .tickFormat(d3.format(',.2f'));

      d3.select("#canvas svg")
          .datum(rawData)
          .call(chart);

      nv.utils.windowResize(chart.update);

      return chart;
    });
});
</script>
{% endblock %}
